html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

input {
  outline: none;
  border: none;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill {
  border: 0;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
} */

@-webkit-keyframes autofill {
  to {
      color: #fff;
      background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #fff;
}
input:-moz-placeholder {
  color: #fff;
}
input::-moz-placeholder {
  color: #fff;
}
input:-ms-input-placeholder {
  color: #fff;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.register-container {
  background-color: #000;
  background-image: url(../images/register_bg.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  padding: 3rem;
  background: #9152f8;
  background: -webkit-linear-gradient(top, #7579ff, #b224ef);
  background: -o-linear-gradient(top, #7579ff, #b224ef);
  background: -moz-linear-gradient(top, #7579ff, #b224ef);
  background: linear-gradient(top, #7579ff, #b224ef);
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-title {
  font-family: Poppins-Medium;
  font-size: 1.8rem;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.wrap-input {
  width: 80%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.24);
  margin-bottom: 5px;
}

input {
  font-family: Poppins-Regular;
  font-size: 1.4rem;
  color: #fff;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
}

.input:focus {
  padding-left: 5px;
}

.login-form-btn {
  font-family: Poppins-Medium;
  font-size: 1.2rem;
  color: #555555;
  line-height: 1.2;
  padding: 0 15px;
  margin-top: 1rem;
  min-width: 120px;
  height: 35px;
  border-radius: 25px;
  background: #9152f8;
  background: -webkit-linear-gradient(bottom, #B026F0, #ffffff);
  background: -o-linear-gradient(bottom, #B026F0, #ffffff);
  background: -moz-linear-gradient(bottom, #B026F0, #ffffff);
  background: linear-gradient(bottom, #B026F0, #ffffff);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login-form-btn:hover {
  color: #fff;
}

.login-form-btn:hover:before {
  opacity: 0;
}

.errorMessage {
  color: #fff;
}

.hasAccountText span {
  color: #fff;
  font-size: 12px;
}

.hasAccountText {
	text-align: center;
}


@media screen and (max-width: 768px) {
  .wrap-login {
    margin: 0 2rem;
  }
}


@media screen and (max-width: 320px) {
  .wrap-login {
    margin: 2rem 1rem;
    padding: 1.5rem;
  }
  .login-form-title {
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 0.8rem;
  }
  .wrap-input {
    width: 100%;
  }
  input {
    font-size: 1rem;
    line-height: 1;
    height: 20px;
  }
  .login-form-btn {
    font-size: 0.8rem;
    padding: 0 5px;
    height: 25px;
  }
}